# Dataset three

In [8]:
import numpy as np
import pandas as pd
from sklearn.feature_selection import VarianceThreshold
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

In [9]:
""" 
TrainData 3 contains 13  features with 6300 samples. Testdata3 contains 13 features with 2693 samples. There are 9 classes in this dataset.
"""


trainData = pd.read_csv('../DataFiles/TrainData3.txt', delimiter='\t', header=None)
trainLabels = pd.read_csv('../DataFiles/TrainLabel3.txt', delimiter='\t', header=None)
testData = pd.read_csv('../DataFiles/TestData3.txt', header=None)
trainData

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,2,1.0,5,4.0,5.0,5.000000e+00,3,3.0,0,1.0,1.0,7.0,1.000000e+99
1,1,1.0,5,5.0,5.0,5.000000e+00,3,5.0,2,1.0,1.0,7.0,1.000000e+00
2,2,1.0,3,5.0,1.0,5.000000e+00,2,3.0,1,2.0,3.0,7.0,1.000000e+00
3,2,5.0,1,2.0,6.0,5.000000e+00,1,4.0,2,3.0,1.0,7.0,1.000000e+00
4,2,5.0,1,2.0,6.0,3.000000e+00,1,4.0,2,3.0,1.0,7.0,1.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6295,1,5.0,4,5.0,3.0,1.000000e+99,1,1.0,0,2.0,3.0,7.0,1.000000e+00
6296,2,1.0,3,3.0,9.0,1.000000e+99,3,4.0,2,1.0,1.0,8.0,1.000000e+00
6297,2,1.0,4,4.0,6.0,5.000000e+00,3,4.0,2,1.0,1.0,7.0,1.000000e+00
6298,1,3.0,3,4.0,1.0,5.000000e+00,1,1.0,0,1.0,1.0,7.0,1.000000e+00
6299,1,1.0,2,4.0,1.0,2.000000e+00,2,2.0,0,2.0,3.0,7.0,1.000000e+00

In [10]:
# Ac1101 -- replacing any missing values with Nan 

trainData.replace(1.00000000000000e+99, np.nan, inplace=True)
testData.replace(1.00000000000000e+99, np.nan, inplace=True)

missing_count = trainData.isnull().sum()
print(missing_count)

0       0
1      95
2       0
3      53
4      93
5     703
6       0
7     254
8       0
9     177
10    260
11     53
12    198
dtype: int64

In [11]:
trainData.fillna(trainData.mean(), inplace=True)
testData.fillna(testData.mean(), inplace=True)

print("Missing values in trainData:", trainData.isnull().sum().sum())
print("Missing values in testData:", testData.isnull().sum().sum())

Missing values in trainData: 0
Missing values in testData: 0

In [12]:
"""
mySelector = VarianceThreshold(threshold=0.05)

trainData_FS = mySelector.fit_transform(trainData)
testData_FS = mySelector.transform(testData)

print("Original number of features on the training data:", trainData.shape)
print("Number of features on the training set after applying variance threshold:", trainData_FS.shape)
"""

'\nmySelector = VarianceThreshold(threshold=0.05)\n\ntrainData_FS = mySelector.fit_transform(trainData)\ntestData_FS = mySelector.transform(testData)\n\nprint("Original number of features on the training data:", trainData.shape)\nprint("Number of features on the training set after applying variance threshold:", trainData_FS.shape)\n'

In [13]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

# AC1105 -- Standardize data before applying PCA
scaler = StandardScaler()
trainData_scaled = scaler.fit_transform(trainData)
testData_scaled = scaler.transform(testData)


myPCA = PCA(n_components=0.95, random_state=50)
trainData_fs = myPCA.fit_transform(trainData_scaled)
testData_pca = myPCA.transform(testData_scaled)

print(f"Number of components after FS: {trainData_fs.shape[1]}")

Number of components after FS: 11

In [14]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

# AC1105 -- Random forest is not very accurate right now...
rfClassifier = RandomForestClassifier(n_estimators=200, max_depth=20, random_state=50)
cvScores = cross_val_score(rfClassifier, trainData_fs, trainLabels.values.ravel(), cv=5, scoring='accuracy')


print(f"Cross-Validation Accuracy Scores: {cvScores}")
print(f"Mean Cross-Validation Accuracy: {cvScores.mean():.4f}")

Cross-Validation Accuracy Scores: [0.31111111 0.2984127  0.32222222 0.32539683 0.31587302]
Mean Cross-Validation Accuracy: 0.3146